<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/css/style.min.css' | url }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <h1 class="text-center"><a href="/">Atlas de Anatomia Patológica</a></h1>
        <h2 class="text-center">CHU-UFPA / EBSERH / HUJBB</h2>
        
        <div class="info flex justify-between">
          <div><span>Atualizado em: 00/00/0000</span></div>
          <div><span>Email: gatinho@email.com</span></div>
        </div>
      
        <h3 class="text-center pt-10">Lista de assuntos em patologia</h3>
        <div class="categorias grid grid-cols-4 text-center mb-14 py-2 gap-2">
          {% for page in collections.pages %}
            <div><a href="{{ page.url }}">{{ page.data.title }}</a></div>
          {%- endfor %}
        </div>

        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>
            <article>
                {{ content | safe }}
            </article>
        </main>
        <footer>
            <p>&copy; 2024 Thiago Augusto</p>
        </footer>
    </body>
</html>
