        <p class="text-center">Atualizado em: 00/00/0000</p>
        <p class="text-center">Email: <a href="mailto:demachki@ufpa.br">demachki@ufpa.br</a></p>
        <p class="text-center text-xs"><a href="https://anatpat.unicamp.br/indexalfa.html">Referencia</a></p>
        <p class="text-center text-xs"><a href="https://github.com/JumperLuko/indice-alfabetico-medicina">Repositório</a></p>