  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Atlas de Anatomia Patológica de Daniel" />
  <meta property="og:site_name" content="Atlas de Anatomia Patológica de Daniel" />
  <meta property="og:locale" content="pt_BR" />
  <title>Atlas de Anatomia Patológica</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.min.css">