  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/x-icon" href="/img/page/favicon.ico">
  <meta name="description" content="Atlas de Anatomia Patológica, alimentado por Daniel de Oliveira e desenhado por Thiago Augusto" />
  <meta property="og:site_name" content="ICM - Faculdade de Medicina - UFPA" />
  <meta property="og:locale" content="pt_BR" />
  <meta name="author" content="Thiago Augusto da Costa, thigo.guto@gmail.com">
  <title>Atlas de Anatomia Patológica</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.min.css">