<!DOCTYPE html>
<html lang="pt_BR">

<head>
  {% include 'head.njk' %} 

  <style>
    .page-title-home > a{
      text-decoration: inherit !important;
      color: inherit;
    }

  </style>
</head>

<body style="background-color: #F8F4EF;">
  {% include 'header.njk' %} 


  <h1 class="text-center">INICIO</h1>
  <table class="lista bg-slate-300 bg-opacity-50 w-full">
    <tr><td><a href="">Item 1</a></td></tr>
    <tr><td><a href="">Item 2</a></td></tr>
  </table>


  <!-- <table class="lista bg-slate-300 w-full">
    {% for page in collections.pages %}
    <tr><td><a href="{{ page.url }}">{{ page.data.title }}</a></td><td>---</td><td>---</td></tr>
    {%- endfor %}
  </table> -->

  <p class="text-center"><a href="https://anatpat.unicamp.br/indexalfa.html">Referencia</a></p>
  <p class="text-center"><a href="https://github.com/JumperLuko/indice-alfabetico-medicina">Repositório</a></p>

  <!-- <script src="scripts.js"></script> -->
</body>

</html>
