<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="description" content="" /> -->
  <!-- <meta property="og:site_name" content="Description preview exemple" /> -->
  <!-- <meta property="og:locale" content="pt_BR" /> -->
  <title>Anatomia Patológica</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  {% include 'header.njk' %} 


  <h1>INICIO</h1>
  <table class="lista bg-slate-300 w-full">
    <tr><td><a href="">Item 1</a></td></tr>
    <tr><td><a href="">Item 2</a></td></tr>
  </table>


  <!-- <table class="lista bg-slate-300 w-full">
    {% for page in collections.pages %}
    <tr><td><a href="{{ page.url }}">{{ page.data.title }}</a></td><td>---</td><td>---</td></tr>
    {%- endfor %}
  </table> -->

  <p class="text-center"><a href="https://anatpat.unicamp.br/indexalfa.html">Referencia</a></p>
  <p class="text-center"><a href="https://github.com/JumperLuko/indice-alfabetico-medicina">Repositório</a></p>

  <!-- <script src="scripts.js"></script> -->
</body>

</html>
