/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
    background-color: #F8F4EF;
    background-image: url("/img/page/background.webp");
    background-size: 500px;
    .page-title-home > a{
        color: inherit;
    }
    .info{
        >div > div{
            padding: 10px 20px;
        }
    }
    .categorias{
        /*grid-template-rows: 1fr 1fr;*/
        >a{
            background-color: rgba(214, 211, 209, 0.50);
            text-decoration: inherit;
            color: inherit;
            &:link,
            &:visited {
                transition: all .2s;
            }
            &:hover{
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
            &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }
    .lista{
        tr{
            td{
                border: 1px gray solid;
                padding: 10px;
            }
        }
    }
    img{max-width: 100%;}
}