/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body{
    h1{text-align: center;}
    .info{
        div{
            padding: 10px;
        }
    }
    .lista{
        tr{
            td{
                border: 1px gray solid;
                padding: 10px;
            }
        }
    }
}