/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
    .info{
        span{
            padding: 20px;
        }
    }
    .categorias{
        >div{
            background-color: #f1f5f9;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
        }
    }
    .lista{
        tr{
            td{
                border: 1px gray solid;
                padding: 10px;
            }
        }
    }
}